@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #080202;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}
.swiper-button-prev::after {
    font-size: 25px;
}
.swiper-buttton-next::after {
    font-size: 25px;
}
.swiper-button-next {
    color: #DB2418;
}
.swiper-button-prev {
    color: #DB2418;
}
.swiper-pagination-bullet {
    background-color: #D3D2D2;
    opacity: 1;

}
.swiper-pagination-bullet-active {
    background-color: #DB241B;
}

/*-------menu----*/
.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}
.navbar {
    display: flex;
}
.menu-1 {
    margin-right: 180px;
}
.menu-2 {
    margin-left: 180px;
    display: flex;
    align-items: center;
}
.logo-1 {
    width: 0;
}
.logo-2 {
    width: 150px;
}
.socials {
    display: flex;
}
.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #DB2418;
    border-radius: 50%;
}
.social:hover {
    background-color: #DB2418;
}

.social img {
    margin: 8px 0 0 10px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffff;
    display: block;
}
.menu .navbar ul li a:hover {
    color: #DB2418;
}


#menu {
    display: none;

}
.menu-icono {
    width: 25px;

}
.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    margin-top: 200px;
    padding-bottom: 50px;
}

/*--slider---*/

.slider {
    display: flex;
    align-items: center;
}
.slider-txt {
    margin-left: 85px;
    width: 50%;
}
.slider-txt h1 {
    font-size: 70px;
    color: #ffff;
    text-transform: uppercase;
    font-weight: 800;
}
.slider-txt p {
    font-size: 18px;
    color: #A7A7A7;
}
.botones {
    margin-top: 50px;
}
.btn-1 {
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid #DB2418;
    color: #ffff;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}
.btn-1:hover {
    border: 2px solid #DB2418;
    background-color: #DB2418;
}
.slider-img {
    width: 50%;
}
.slider-img img {
    margin-right: 225px;
    width: 550px;
}

/*---- tabs productos----*/
.products {
    background-color: #0d0d0d;
}
.tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0px;
}
.tabs label {
    width: 15%;
    order: 1;
    display: block;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    color: #A7A7A7;
    font-weight: 700;
    transition: background ease 0.2s;
}

.tabs .tab {
    order: 99;
    flex-wrap: 1;
    width: 100%;
    display: none;
    padding-top: 25px;
}

.tabs input[type="radio"] {
    display: none;
}
.tabs input[type="radio"]:checked + label {
    border-bottom: 2px solid #DB2418;
    color: #ffff;
}
.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}


.product {
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.product-img {
    width: 50%;
    text-align: left;
}
.product-img h4 {
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: #ffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid #555555;
    border-radius: 10px;
    margin-bottom: 50px

}

.product-img img {
    width: 150px;
    height: 120px;

}
.product-txt {
    width: 50px;
    margin-left: 10px;
    text-align: left;

}
.product-txt h4 {
    color: #ffff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 5px;
}
.product-txt p {
    color: #A7A7A7;
    font-size: 16px;
    margin-bottom: 15px;
}
.product-txt span {
    color: #ffff;
    font-size: 18px;
    font-weight: 800;
}

/* --- section info ----*/
.info {
    padding: 100px 0px;
    display: flex;
    align-items: center;
}
.info-img {
    width: 100%;
}
.info-img img {
    width: 100%;
    
}
.info-txt {
    width: 50%;
}
.info-txt h2 {
    font-size: 35px;
    color: #ffff;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.info-txt p {
    font-size: 18px;
    color: #A7A7A7;
    margin-bottom: 50px;
}
.btn-2 {
    display: inline-block;
    padding: 15px 35px;
    background-color: #DB2418;
    color: #ffff;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
}
.btn-2:hover {
    background-color: #ab1c15;
}


/*---horario-----*/
.horario {
    padding: 100px;
    background-color: #0d0d0d;
}

.horario-info h2 {
    font-size: 75px;
    color: #ffff;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.horario-txt {
    display: flex;
    justify-content: space-between;
}

.txt {
    color: #ffff;
}
.txt h4 {
    font-size: 18px;
    color: #555555;
    margin-bottom: 30px;
}

.txt p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}


/*---mapa----*/

.map {
    filter: grayscale(100%) invert(92%) contrast(93%);
}


/*---footer----*/
.footer {
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
}
.links h4 {
    color: #ffff;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.links ul li a {
    color: #ffff;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}
@media (max-width: 1157px) and (min-width: 768px) {
    /* Ajustes de contenedor */
    .container {
        max-width: 100%; /* Asegúrate de que el contenedor se ajuste a la pantalla */
        padding: 0 15px; /* Agrega un poco de padding */
    }

    /* Menú */
    .menu {
        padding: 20px;
        justify-content: space-between;
    }
    .menu-2 {
        display: none;
    }
    .logo-1 {
        width: 100px;
    }
    .logo-2 {
        width: 0;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar {
        display: initial;
    }
    .header-content {
        padding: 30px;
        margin-top: 100px;
    }

    /* Slider */
    .header-content {
        margin-top: 100px; /* Reduce el margen superior */
    }
    .slider {
        flex-direction: column; /* Cambia a columna */
        align-items: center; /* Centra los elementos */
    }
    .slider-txt {
        margin-left: 0; /* Elimina el margen izquierdo */
        width: 100%; /* Asegúrate de que ocupe el 100% */
        text-align: center; /* Centra el texto */
    }
    .slider-txt h1 {
        font-size: 50px; /* Reduce el tamaño de la fuente */
    }
    .slider-img {
        margin-top: 18px;
        width: 50%; /* Asegúrate de que ocupe el 100% */
    }
    .slider-img img {
        width: 100%; /* Asegúrate de que la imagen ocupe el 100% */
        height: auto; /* Mantiene la proporción */
        margin-right: 0; /* Elimina el margen derecho */
    }

    /* Productos */
    .tabs label {
        width: 30%; /* Aumenta el ancho para tablets */
    }
    .product {
        flex-direction: column; /* Cambia a columna */
        align-items: center; /* Centra los elementos */
        margin-bottom: 1.5rem;
    }
    .product-img, .product-txt {
        width: 100%; /* Asegúrate de que ocupen el 100% */
        text-align: center; /* Centra el texto */
    }
    .product-img img {
        width: 120px; /* Ajusta el tamaño de la imagen */
        height: auto; /* Mantiene la proporción */
    }

    /* Sección de información */
    .info {
        flex-direction: column; /* Cambia a columna */
        padding: 50px 0; /* Ajusta el padding */
    }
    .info-img, .info-txt {
        width: 100%; /* Asegúrate de que ocupen el 100% */
        text-align: center; /* Centra el texto */
    }
    .info-img img {
        width: 50%; /* Asegúrate de que la imagen ocupe el 100% */
        height: auto; /* Mantiene la proporción */
    }
    .info-txt h2 {
        font-size: 40px; /* Reduce el tamaño de la fuente */
    }

    /* Horario */
    .horario {
        padding: 50px 20px; /* Ajusta el padding */
    }
    .horario h2 {
        text-align: center;
    }
    .horario-txt {
        flex-direction: column; /* Cambia a columna */
        align-items: center; /* Centra los elementos */
        text-align: center;
    }

    /* Footer */
    .footer {
        flex-direction: column; /* Cambia a columna */
        align-items: center; /* Centra los elementos */
        text-align: center;
        margin-top: 2rem;
    }
    .links {
        margin-bottom: 20px; /* Agrega margen inferior */
    }
    .social img {
        margin: 10px 0 0 0;
    }
}

@media (max-width: 768px) {
    .menu {
        padding: 20px;
        justify-content: space-between;
    }
    .menu-2 {
        display: none;
    }
    .logo-1 {
        width: 100px;
    }
    .logo-2 {
        width: 0;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar {
        display: initial;
    }
    .header-content {
        padding: 30px;
        margin-top: 100px;
    }
    .slider {
        flex-direction: column;
    }
    .slider-txt {
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    .slider-txt h1 {
        font-size: 50px;
    }
    .slider-txt p {
        font-size: 16px;
    }
    .btn-1 {
        padding: 10px 25px;
        font-size: 14px;
    }
    .slider-img {
        width: 100%;
        text-align: center;
    }
    .slider-img img {
        margin-right: 0px;
        width: 300px;
    }
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets, .swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -7px;
    }

    /*----- sectiom info ----*/
    .tabs {
        padding: 50px 30px;
    }
    .tabs label {
        width: 33%;
    }
    .info {
        padding: 30px;
        flex-direction: column;
    }
    .info-img {
        width: 100%;
        text-align: center;
    }
    .info-img img {
        width: 400px;
        height: 200px;
        margin-bottom: 25px;

    }
    .info-txt {
        width: 100%;
        text-align: center;

    }
    .info-txt h2 {
        font-size: 50px;
    }
    .info-txt p {
        font-size: 16px;
    }
    .btn-1 {
        font-size: 16px;

    }
    /*---section horario ---*/
    .horario {
        padding: 30px;
        text-align: center;

    }
    .horario-info h2 {
        font-size: 50px;
        margin-bottom: 15px;
    }
    .horario-txt {
        flex-direction: column;
    }
    .social {
        justify-content: center;
    }
    .social img {
        margin: 8px 0 0 0;
    }

    /*--- footer---*/
    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;

    }
    .links h4 {
        margin: 25px 0px 10px 0px;
    }
}